@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

:root{
    --white : #fff;
    --black:#1c2b2d;
    --blue:#31326f;
    --color-primary:#9d0191;
    --light-blue:#005490;
    --color-sec:#db6400;
    --gray:#eee;
    --dark-gray:#222831;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
    font-family: 'open Sans',sans-serif;
}

p{
    font-size: 1.6rem;
    line-height: 1.5;
}

img{
    width: 100%;
}

.container{
    width: 900px;
    margin: 0 auto;
    padding: 0 20px;
}

#users{
    margin: 3rem 0 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}